skills-lock.json
.DS_Store
*.pem
.env
.envrc

# BACKEND

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.venv
env/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pytype/
db.sqlite3
db.sqlite3-journal
celerybeat-schedule
.cursorignore
.cursorindexingignore

# FRONTEND

node_modules/
.next/
.pnp
.pnp.*
coverage/
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts

# IDE

.vscode/
.idea/
.claude/worktrees/
